# Bloquear arquivos de dados bancários (PDF e CSV)
*.pdf
*.csv

# Bloquear chaves de segurança e credenciais do IAM
*.json
# Arquivos de configuração local
*.properties
# Pastas geradas pelo Java/Maven/IDE
target/
.idea/
.vscode/
*.class
bin/
lib/